input.rbt-input-main.form-control.rbt-input {
    padding: 2rem !important;
    border-radius: 10px !important;
    font-size: 1.4rem !important;
    
}
.rbt-aux {
    margin-right: .5em;
}
.signupbtn{
    background-color: #28c1ff !important;
    font-family: 'Monserrat', sans-serif;
    font-weight: 400 !important;
    font-size: 22px !important;
    letter-spacing: 2px;
}