.navbar-brand{
    font-family: 'Questrial', sans-serif;
}
.profilepic{
    height: 34px;
    border-radius: 40px;
    border: 2px solid #14ce71;
}
.dropdown-toggle::after {
    color: white;
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0.055em;
    content: "";
    border-top: 0.3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
p#dropdown-basic {
    margin-bottom: 0px;
    font-size: 18px;
    margin-right: 10px;
    padding-top: 6px;
    font-family: 'Questrial', sans-serif;
    color: #14ce71;
}
.loginBtn{
    font-family: 'Questrial', sans-serif;
    font-size:18px;
    padding:2px 20px;
}

p#dropdown-basic::first-letter{
    text-transform: capitalize;
}
.modal-header {
    padding: .5rem 1rem;
    border-bottom: 0px;
}
a.nav-link {
    font-size: 18px;
    margin-right: 10px;
    padding-top: 6px;
    font-family: 'Questrial', sans-serif;
}
.ddicon{
    float:left;
    margin-top:5px;
    margin-right: 10px
}