.chartContainer{
    width:1000px;
    height:400px;
}
.addBtn{
    border-radius:20px;
    margin-top:20px;
    background-color:rgb(180, 245, 189);
    border:2px solid #05e462;
    color:#444 !important;
    box-shadow:0px 2px 5px rgb(189, 189, 189);
}
.addBtn:hover{
    border-radius:20px;
    margin-top:20px;
    background-color:rgb(150, 235, 162);
    border:2px solid #00a545;
    color:#444 !important;
    box-shadow:0px 2px 5px rgb(189, 189, 189);
}
.timeBtn{
    margin: 10px;
    border-radius: 10px;
    padding: 6px;
    border: 1px solid #cecece;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color:grey;
    background-color: #dddddd;
}
text.recharts-text.recharts-cartesian-axis-tick-value {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
span.recharts-legend-item-text {
    font-weight: 600;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 4px;
}
.coinIcon{
    height:30px;
}
.coinDetails{
    font-family: 'Questrial', sans-serif;
    color: #585858;
    font-size:2rem;
    font-weight: 700;
}
.iconContainer{
    max-width: 55px;
    height: 55px !important;
    margin-right: 10px;
    border-right: 2px solid #dfdfdf;
    padding-right: 10px;
    display: inline-block;
}
.nameContainer{
    margin-top:10px;
    display: inline-block;
}