@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}
h1, h2, h3, h4, h5{
  font-family: 'Questrial', sans-serif;
  color: #585858;
}
h1, h2, h3{
  font-weight:700 !important;
}
h4, h5{
  font-weight:500 !important;
}
.suSubtitle{
  font-family:'Montserrat', sans-serif;
  font-size:.8rem;
  padding-top:5px;
}
span#inputGroupAppend {
  background-color: transparent !important;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#bababa !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bababa !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #bababa !important;
}
input.passwordField.form-control {
  border-right: none !important;
}
.card{
  border-radius: 0.7rem !important;
}
.form-label{
  font-family: 'Questrial', sans-serif;
}
.App-link {
  color: #61dafb;
}
.row.topCryptos {
  margin: 0px !important;
  padding: 15px;
}
.searchForm{
  border: 6px solid #f4f4f4;
  border-radius:20px;
  padding:20px;
  margin:20px
}
.searchForm > .form-group > .form-label{
  font-family: 'Questrial', sans-serif;
}
.form-control{
  font-family: 'Questrial', sans-serif;
}
.pagination{
  float: right;
  padding-right: 10px;
}
.user{
  color:#00adff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.moversTitle{
  margin-top: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  color: #e96a09;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
