@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}

.App-link {
  color: #61dafb;
}
.row.topCryptos {
  margin: 0px !important;
  padding: 15px;
}
.searchForm{
  border: 6px solid #f4f4f4;
  border-radius:20px;
  padding:20px;
  margin:20px
}
.searchForm > .form-group > .form-label{
  font-family: 'Questrial', sans-serif;
}
.form-control{
  font-family: 'Questrial', sans-serif;
}
.moversTitle{
  margin-top: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  color: #676767;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
