@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}

.App-link {
  color: #61dafb;
}
.box{
  border: 1px solid #e8e8f3;
  border-radius: 8px;
  /* box-shadow: 0px 2px 2px #cccccc; */
  background-color: rgb(240 246 255);
  width: 15vw;
  height: 10vw;
  margin: 5px;
}
.box > .col-sm-8 {
  padding:0px
}
.box > .col-sm-4 {
  padding:0px
}
.box > .col-sm-8 > p.symbol{
  text-align: left;
  padding: 9px 0px 0px 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size:18px;
  font-family: 'Questrial', sans-serif;
}
.box > .col-sm-8 > p.price{
  text-align: left;
  padding: 0px 0px 0px 8px;
  margin-bottom: 2px;
  font-size:18px;
  font-weight: 600;
  font-family: 'Questrial', sans-serif;
  color:rgb(24, 124, 255);
}
.box > .col-sm-8 > p.name{
  text-align: left;
  padding: 2px 0px 0px 8px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 0;
  font-weight: 300;
  font-family: 'Questrial', sans-serif;
  color: rgb(152, 152, 152);
}
 p.changeNeg{
  color: #fa5b5b;
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
}
 p.changePos{
  color: #14f082;
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
}
.row.topCryptos {
  margin: 0px !important;
  padding: 15px;
}
.searchForm{
  border: 6px solid #f4f4f4;
  border-radius:20px;
  padding:20px;
  margin:20px
}
.searchForm > .form-group > .form-label{
  font-family: 'Questrial', sans-serif;
}
.form-control{
  font-family: 'Questrial', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
